@inherits System.Web.Mvc.WebViewPage
@{
    ViewBag.Title = "Contact & Support";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Find the explainations or Contact me on the following blog locations:</p>
<address>
    <a href="http://www.codeproject.com/Members/amitthk" target="_blank"> AmitThk on CodeProject</a><br />
    <a href="https://github.com/amitthk/JPicklist" target="_blank"> AmitThk =&gt; JPickList on Github</a><br />
    <a href="http://amitthk.wordpress.com/" target="_blank"> AmitThk on WordPress</a><br/>
</address>
